<ion-header>

    <ion-navbar>
        <ion-title>创建项目</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="basic-info">
        <div class="name">
            <div class="label">项目名称</div>
            <input class="name-input" [(ngModel)]="itemName" placeholder="请输入项目名称">
        </div>
        <div class="time">
            <span class="end-time-label">截止日期</span>
            <span class="datepicker-con">
                    <ion-datetime displayFormat="YYYY-MM-DD" 
                    [(ngModel)]="endTimeString" 
                    placeholder="（请选择）" 
                    cancelText="取消" 
                    doneText="确定" 
                    min="2018"
                    max="2200"></ion-datetime>
                </span>
        </div>
    </div>
    <div class="stuff">
        <ion-item class="item-manager">
            <ion-label>项目经理</ion-label>
            <ion-select id="itemManager" [(ngModel)]="itemManager" placeholder="（请选择）" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of manager" [value]="i.userId+'-'+i.userName">{{i.userName}}</ion-option>
                <ion-option *ngIf="!manager.length" disabled>（暂无空闲职员）</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="item-uploader">
            <ion-label>项目记录员</ion-label>
            <ion-select id="itemUploader" [(ngModel)]="itemUploader" placeholder="（请选择）" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of uploader" [value]="i.userId+'-'+i.userName">{{i.userName}}</ion-option>
                <ion-option *ngIf="!uploader.length" disabled>（暂无空闲职员）</ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div class="description">
        <div class="label">项目描述</div>
        <textarea [(ngModel)]="itemDec" placeholder="添加项目描述"></textarea>
    </div>
    <div class="wide-btn" (tap)="addPro()">发布项目</div>
</ion-content>