page-login {
    .scroll-content {
        background: #ade9bc;
    }
    .avater-con {
        width: 100%;
        position: absolute;
        top: calc((100vh - 9.5rem) / 2 - 12.8rem);
        .avater {
            width: 7.3rem;
            height: 7.3rem;
            border-radius: 50%;
            margin: 0 auto;
            background: #f5fff8;
            box-shadow: 0 .4rem .4rem #7da787;
        }
    }
    .login-form-con {
        width: 100%;
        position: absolute;
        top: calc((100vh - 9.5rem) / 2);
        .login-form {
            width: 80vw;
            margin: 0 auto;
        }
        .usr,
        .psw {
            border-radius: 1rem;
            height: 3rem;
            display: flex;
            background: #e0f2e5;
            margin-bottom: .3rem;
            .label-con {
                flex: 0 0 7.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .label {
                    font-size: 1.2rem;
                    flex: 1;
                    height: 1.6rem;
                    border-right: 1px solid $gray;
                    text-align: center;
                }
            }
            .con {
                flex: 1;
                input {
                    width: 100%;
                    background: transparent;
                    line-height: 3rem;
                    text-align: center;
                    padding-left: 2rem;
                    text-align: left;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .login-btn {
        font-size: 1.4rem;
        border-radius: 1rem;
        height: 3rem;
        background: #f6f6f6;
        line-height: 3rem;
        text-align: center;
        color: #40af5c;
    }
}