page-add-mat-out {
    .add-rec {
        background: #fff;
        height: 18rem;
        padding: 2.5rem 2rem;
        li {
            height: 3.2rem;
            margin-top: 1.6rem;
            border-bottom: 1px solid $gray;
            line-height: 3.2rem;
            .label {
                font-weight: bold;
            }
        }
        li:first-child {
            margin-top: 0;
        }
    }
    .add-proof {
        .proof-pic-con {
            height: 20.9rem;
            background-color: #fff;
        }
    }
    .add-btn {
        padding: 3.8rem 0;
    }
}