<ion-header>

    <ion-navbar>
        <ion-title>项目详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="basic-info">
        <div class="name">
            <div class="label">项目名称</div>
            <input readonly class="name-input" [(ngModel)]="itemName" placeholder="请输入项目名称">
        </div>
        <div class="time">
            <span class="end-time-label">开工日期</span>
            <span class="end-time-content">{{endTimeString}}</span>
        </div>
    </div>
    <div class="stuff">
        <ion-item class="item-manager">
            <ion-label>项目经理</ion-label>
            <ion-select id="itemManager" [(ngModel)]="curItemManager" [placeholder]="itemManager" (ngModelChange)="changeManager()" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of manager" [value]="i.userId+'-'+i.userName">{{i.userName}}</ion-option>
                <ion-option *ngIf="!manager.length" disabled>（暂无空闲职员）</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="item-uploader">
            <ion-label>项目记录员</ion-label>
            <ion-select id="itemUploader" [(ngModel)]="curItemUploader" [placeholder]="itemUploader" (ngModelChange)="changeUploader()" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of uploader" [value]="i.userId+'-'+i.userName">
                    {{i.userName}}
                    <button (tap)="downloadFile(i)" *ngIf="! fileExist(i)" class="download-file" item-end outline ion-button>下载</button>
                </ion-option>
                <ion-option *ngIf="!uploader.length" disabled>（暂无空闲职员）</ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div class="description">
        <div class="label">项目描述</div>
        <textarea readonly [value]="itemDec"></textarea>
    </div>
    <!-- <div class="wide-btn" (tap)="updatePro()">确认修改</div> -->
    <ion-item-group>
        <ion-item-divider>
            项目附件
            <button class="upload-file" (tap)="addFile()" item-end outline ion-button>上传附件</button>
        </ion-item-divider>
        <ion-item *ngIf="!fileList.length">
            （暂无附件）
        </ion-item>
        <ion-item *ngFor="let i of fileList">
            {{i[0]}}
            <button (tap)="downloadFile(i)" class="download-file" item-end outline ion-button>查看</button>
            <button (tap)="deleteFile(i)" class="download-file" item-end outline ion-button>删除</button>
        </ion-item>
    </ion-item-group>
    <div class="pro-rec-det">
        <ion-item-divider>项目财务汇总</ion-item-divider>
        <ion-item>
            <ion-label>
                项目总开销
            </ion-label>
            <div item-content>
                {{amount?.sumPrice || 0}}
            </div>
        </ion-item>
        <ion-item>
            <ion-label>
                项目材料总开销
            </ion-label>
            <div item-content>
                {{amount?.materailSumPrice || 0}}
            </div>
        </ion-item>
        <div class="tabel-header" *ngIf="amount?.list.length">
            <span>材料名</span>
            <span>规格</span>
            <span>单位</span>
            <span>使用数量</span>
            <span>开销费用</span>
        </div>
        <ul>
            <li *ngFor="let i of amount?.list" class="item">
                <span>{{i.categoryName}}</span>
                <span>{{i.specifications || "无"}}</span>
                <span>{{i.unit || "无"}}</span>
                <span>{{i.number}}</span>
                <span>{{i.totalPrice}}</span>
            </li>
        </ul>
    </div>
    <div class="pro-rec-det">
        <ion-item-divider>项目财务记录</ion-item-divider>
        <ion-item *ngIf="!fnc.length">
            （暂无财务记录）
        </ion-item>
        <div class="tabel-header" *ngIf="fnc.length">
            <span>类型</span>
            <span>总价</span>
            <span>审核状态</span>
        </div>
        <ul class="fnc-record">
            <li *ngFor="let i of fnc" (tap)="toFncDet(i.recordId)" class="item">
                <span>{{transformRecType(i.recordType)}}</span>
                <span>{{i.sumPrice}}</span>
                <span>{{transformState(i.state)}}</span>
            </li>
        </ul>
    </div>


    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>