page-pro-mat {
    .label {
        padding: 0 2.4rem;
        height: 2.7rem;
        line-height: 2.7rem;
        background: $bgGray;
        font-weight: bold;
        font-size: 1.2rem;
        color: $gray;
    }
}