<ion-header>

    <ion-navbar>
        <ion-title>项目详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="basic-info">
        <div class="name">
            <div class="label">项目名称</div>
            <input readonly class="name-input" [value]="itemName">
        </div>
        <div class="time">
            <span class="end-time-label">开工日期</span>
            <span class="end-time-content">{{endTimeString}}</span>
        </div>
    </div>
    <div class="stuff">
        <ion-item class="item-manager">
            <div>项目经理</div>
            <div item-end>{{itemManager || '暂无'}}</div>
        </ion-item>
        <ion-item class="item-uploader">
            <div>项目记录员</div>
            <div item-end>{{itemUploader || '暂无'}}</div>
        </ion-item>
    </div>
    <div class="description">
        <div class="label">项目描述</div>
        <textarea readonly [value]="itemDec"></textarea>
    </div>
    <ion-item-group>
        <ion-item-divider>
            项目附件
        </ion-item-divider>
        <ion-item *ngIf="!fileList.length">
            （暂无附件）
        </ion-item>
        <ion-item *ngFor="let i of fileList">
            {{i[0]}}
            <button (tap)="downloadFile(i)" class="download-file" item-end outline ion-button>下载</button>
        </ion-item>
    </ion-item-group>
    <div class="pro-rec-det">
        <ion-item-divider>项目财务记录</ion-item-divider>
        <ion-item *ngIf="!fnc.length">
            （暂无财务记录）
        </ion-item>
        <div class="tabel-header" *ngIf="fnc.length">
            <span>类型</span>
            <span>总价</span>
            <span>审核状态</span>
        </div>
        <ul class="fnc-record">
            <li *ngFor="let i of fnc" (tap)="toFncDet(i.recordId)" class="item">
                <span>{{transformRecType(i.recordType)}}</span>
                <span>{{i.sumPrice}}</span>
                <span>{{transformState(i.state)}}</span>
            </li>
        </ul>
    </div>


    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>