page-pro {
    .label {
        height: 2.1rem;
        font-size: .9rem;
        color: $deepGray;
        font-weight: bold;
        line-height: 2.1rem;
        padding-left: 2rem;
        background: $bgGray;
    }
    .pro-list {
        li {
            height: 5.2rem;
            border-bottom: 1px solid $bgGray;
            padding: 0 0 .3rem 1.5rem;
            font-size: .9rem;
            font-weight: bold;
            color: $deepGray;
            display: flex;
        }
        .progress-left {
            flex: 1;
        }
        .progress-right {
            flex: 0 0 9rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #6aaece;
        }
        .text {
            height: 3.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 1.2rem;
                @include clip;
            }
        }
    }
}