page-psnl {
    .psnl-header,
    .psnl-record li {
        padding: 0 1rem;
        color: $gray;
        display: flex;
        font-size: 1rem;
        span {
            flex: 2;
            @include clip;
        }
        span:nth-child(2) {
            flex: 3 0;
        }
    }
    .psnl-header {
        height: 1.5rem;
        background: $bgGray;
    }
    .psnl-record li {
        height: 4.9rem;
        line-height: 4.9rem;
        border-bottom: 1px solid $bgGray;
    }
}