<ion-header>

    <ion-navbar>
        <ion-title>人员管理</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="toAddPsnl()">
                <ion-icon ios="md-add" md="md-add"></ion-icon>
            </button>
            <button ion-button icon-only (tap)="toSearchPsnl()">
                <ion-icon ios="md-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="tabel-header">
        <span>姓名</span>
        <span>手机号</span>
        <span>职位</span>
    </div>
    <ul>
        <li class="item" *ngFor="let i of user" (tap)="toPsnlDet(i.userId)">
            <span>{{i.userName || "无"}}</span>
            <span>{{i.phone || "无"}}</span>
            <span>{{transformType(i.userType) || "无"}}</span>
        </li>
    </ul>

    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>