page-home {
    .identity {
        height: 8rem;
        padding-bottom: 2rem;
        display: flex;
        border-bottom: 1px solid #eee;
        .avater {
            flex: 0 0 6rem;
            height: 6rem;
            background: #eee;
            border-radius: 50%;
            margin: 0 2rem;
        }
        .info {
            flex: 1;
            padding-top: 1.2rem;
        }
        .name {
            font-size: 2rem;
            padding-bottom: .4rem;
            color: #555;
            font-weight: bold;
        }
    }
    .func {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        li {
            border: 1px solid $green;
            box-shadow: 0 4px 1.4rem #def7ee;
            margin: 2rem .8rem 0;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            text-align: right;
            height: 6rem;
            border-radius: .4rem;
            font-size: 1.8rem;
            ion-icon,
            span {
                line-height: 6rem;
                color: $green;
            }
            ion-icon {
                font-size: 3rem;
                color: $green;
            }
        }
    }
}