page-home {
    .identity {
        height: 8rem;
        padding-bottom: 2rem;
        display: flex;
        border-bottom: 1px solid #eee;
        .avater {
            flex: 0 0 6rem;
            height: 6rem;
            background: #eee;
            border-radius: 50%;
            margin: 0 2rem;
        }
        .info {
            flex: 1;
            padding-top: 1.2rem;
        }
        .name {
            font-size: 2rem;
            padding-bottom: .4rem;
            color: #555;
            font-weight: bold;
        }
    }
    .func {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 1 0 32vw;
            margin: 2rem .8rem 0;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            text-align: right;
            height: 6rem;
            border-radius: .4rem;
            font-size: 1.5rem;
            font-weight: bold;
            ion-icon,
            span {
                line-height: 6rem;
            }
            ion-icon {
                font-size: 3rem;
            }
        }
        // li:nth-child(n+1) {
        //     background: -webkit-linear-gradient( -45deg, #72EDF2 5%, #5151E5 100%);
        //     box-shadow: 0 .2rem 1.2rem #b6c5dd;
        // }
        // li:nth-child(2n+1) {
        //     background-image: -webkit-linear-gradient( -45deg, #ffae6c 5%, #F6416C 100%);
        //     box-shadow: 0 .2rem 1.2rem #db9494;
        // }
    }
}