<ion-header>

    <ion-navbar>
        <ion-title>运输单位管理</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="addTrans()">
                        <ion-icon ios="md-add" md="md-add"></ion-icon>
                    </button>
            <button ion-button icon-only (tap)="toSearchTrans()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="tabel-header">
        <span>单位名</span>
        <span>车牌号</span>
        <span>电话号码</span>
        <span>操作</span>
    </div>
    <ul class="trans-stock">
        <li *ngFor="let i of trans" class="item">
            <span>{{i.transportName || "无"}}</span>
            <span>{{i.transportNumber || "无"}}</span>
            <span>{{i.transportPhone || "无"}}</span>
            <span>
                <ion-icon (tap)="alterTrans(i.transportId,i.transportName,i.transportNumber,i.transportPhone)" ios="md-build" md="md-build"></ion-icon>
                <ion-icon (tap)="removeTrans(i.transportId)" ios="md-close" md="md-close"></ion-icon>
            </span>
        </li>
    </ul>

    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>