$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: ( primary: #32b16c, secondary: #e19726, danger: #fc5e5d, light: #787878, dark: #5e5e5e);
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

/*常用颜色*/

$green: #32b16c;
$red: #fc5e5d;
$gray: #7e7e7e;
$deepGray: #5e5e5e;
$bgGray: #e7e7e7;
$yellow:#e19726;

/*常用数据*/


/*覆盖官方样式*/

//导航条
$toolbar-ios-background: $green;
$toolbar-md-background: $green;
//detail-push
$item-md-detail-push-show :true;
$item-wp-detail-push-show:true;

/*混合器*/

@mixin clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}