progress-bar {
    .total {
        height: 1.2rem;
        border: 1px solid $deepGray;
        border-radius: .5rem;
        position: relative;
    }
    .current {
        position: absolute;
        left: -1px;
        top: -1px;
        background-color: #7ecef4;
        border-radius: .5rem;
        height: 1.2rem;
    }
}