// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*对基本组件进行的修改*/

* {
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: bold;
}

b,
i,
strong,
em {
    font-style: normal;
    font-weight: normal;
}

input {
    border: none;
}

ion-buttons {
    display: absolute;
}

// ion-content * {
//     color: $gray;
// }
.item,
ion-item-group {
    color: $gray;
}

ion-select {
    max-width: 100%;
}

.toolbar {
    height: 4.8rem;
    font-weight: normal;
    padding: 0;
    .back-button {
        width: 5rem;
        padding: 1rem;
        .button-inner {
            justify-content: flex-start;
        }
    }
    ion-title {
        padding: 0 0 0 5rem;
        .toolbar-title {
            font-weight: normal;
            text-align: left;
            font-size: 1.7rem;
        }
    }
    ion-title.title-md {
        padding: 0;
        .toolbar-title {
            font-weight: normal;
            padding: 0;
            font-size: 1.7rem;
        }
    }
    .toolbar-title-md {
        font-size: 1.7rem;
    }
}

ion-label {
    font-size: 1.4rem;
}

ion-item-divider {
    height: 4rem;
}

.approval {
    padding-top: .6rem;
    text-align: right;
}

.approval button.button {
    width: 4.5rem;
    height: 3.2rem;
    font-size: .9rem;
    border-radius: .5rem;
    box-shadow: none;
    margin-right: 2.8rem;
    .button-inner {
        color: #fff;
    }
}

button.upload-file {
    width: 6rem;
    height: 2.6rem;
    font-size: 1.4rem;
    background: #fff;
    .button-inner {
        color: $green;
    }
}

.wide-btn {
    width: 80vw;
    height: 3.2rem;
    background: $green;
    color: #fff;
    margin: 2rem auto;
    border-radius: .6rem;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.7rem;
}

.action-sheet-group .button-inner {
    color: $green;
}

.action-sheet-group-cancel .action-sheet-cancel .button-inner {
    color: $red;
}

page-home,
page-mat-provider,
page-personal,
page-fnc-det,
page-search-provider {
    .scroll-content {
        background: #eee;
    }
}

.tabel-header {
    background: #eee;
    font-size: 1rem;
    display: flex;
    padding: 0 1rem;
    height: 2.3rem;
    line-height: 2.6rem;
    color: $deepGray;
    span {
        flex: 1;
        @include clip;
    }
}

.item {
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1rem;
    font-size: 1rem;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    span {
        flex: 1;
        @include clip;
    }
}

.choose-file {
    position: absolute;
    width: 6rem;
    right: 1rem;
    top: -1rem;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

a.download-file,
button.download-file {
    width: 4rem;
    height: 3rem;
    .button-inner {
        color: $green;
        font-size: 1.2rem;
    }
}

ion-buttons[end] {
    button:first-child {
        margin-right: .8rem;
    }
}

.md ion-item-divider {
    background: #f3f3f3;
}