page-personal {
    ion-list.list {
        background-color: #fff;
        margin: 0 !important;
        padding: 0 1.3rem;
        border-top: 1.2rem solid $bgGray;
        ion-label {
            color: $deepGray;
        }
        .item .item-inner {
            padding-right: 2.2rem;
            background-position: right 2px center;
        }
    }
    .wide-btn {
        margin: 3.8rem auto;
    }
}