page-home {
    .functional-area {
        .func {
            color: $green;
        }
    }
    .msg-icon {
        //待删除
        text-align: center;
        ion-icon {
            font-size: 2rem;
        }
    }
    .msg {
        padding: 0;
        margin: 0;
        border-bottom: 1rem solid $bgGray;
        .item {
            display: flex;
            height: 5rem;
            line-height: 5rem;
            border-bottom: 1px solid $bgGray;
            .msg-icon {
                flex: 0 0 7.1rem;
            }
            div {
                flex: 1;
                padding-left: 0;
                height: 5rem;
                font-size: 1.4rem;
                color: $deepGray;
                @include clip;
            }
            // .msg-time {
            //     color: $green;
            //     padding-right: 2.3rem;
            // }
        }
    }
}