<ion-header>

    <ion-navbar>
        <ion-title>上传材料开销</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngIf="userType === 2">
            <ion-label color="primary" fixed>所属项目</ion-label>
            <ion-select [(ngModel)]="curItemId" placeholder="（请选择）" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of item" [value]="i.itemId">{{i.itemName}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>供货商</ion-label>
            <ion-select [(ngModel)]="offerId" placeholder="（请选择）" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of provider" [value]="i.offerId">{{i.offerCompany}}</ion-option>
                <ion-option *ngIf="!provider?.length" disabled>（暂无）</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>材料</ion-label>
            <ion-select [(ngModel)]="recordDec" placeholder="（请选择）" okText="确定" cancelText="取消">
                <ion-option *ngFor="let i of mat" [value]="i.longDec">{{i.shortDec}}</ion-option>
                <ion-option *ngIf="!mat?.length" disabled>（暂无）</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>送货单位</ion-label>
            <ion-input type="text" [(ngModel)]="recordCarOffer"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>车牌号码</ion-label>
            <ion-input type="text" [(ngModel)]="recordCarNumber"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>单价</ion-label>
            <ion-input type="number" [(ngModel)]="unitPrice"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" fixed>数量</ion-label>
            <ion-input type="number" [(ngModel)]="number"></ion-input>
        </ion-item>
        <ion-item-divider>
            财务凭证
            <button class="upload-file" (tap)="addFile()" item-end outline ion-button>选择文件</button>
        </ion-item-divider>
        <ion-item *ngIf="!fileList.length">
            （暂无凭证）
        </ion-item>
        <ion-item *ngFor="let i of fileList; let p = index">
            {{decode(i)}}
            <button class="download-file" (tap)="deleteFile(p)" item-end outline ion-button>删除</button>
        </ion-item>
        <div (tap)="uploadRec()" class="wide-btn">提交</div>
    </ion-list>
</ion-content>