<ion-header>

    <ion-navbar>
        <ion-title>供货商管理</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="toSearchProvider()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <div *ngFor="let i of provider" class="provider">
        <div class="provider-main" (tap)="toProviderFnc(i.offerId)">
            <div class="row">
                <span class="label">公司名</span>
                <span class="content">{{i.offerCompany || "无"}}</span>
            </div>
            <div class="row">
                <span class="label">地址</span>
                <span class="content">{{i.offerPhone || "无"}}</span>
            </div>
            <div class="row">
                <span class="label">联系电话</span>
                <span class="content">{{i.address || "无"}}</span>
            </div>
        </div>
        <div class="approval">
            <button (tap)="alterProvider(i.offerId,i.offerCompany,i.offerPhone,i.address)" ion-button>修改</button>
            <button (tap)="removeProvider(i.offerId)" ion-button color="danger">删除</button>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>