page-mat {
    .index-pro {
        li {
            border-bottom: 1.4rem solid $bgGray;
        }
        .pro-item {
            .type {
                flex: 1 1 16rem;
            }
            .spending {
                flex: 0 2 10rem;
            }
        }
    }
}