<ion-header>
    <ion-navbar>
        <ion-searchbar (ionInput)="getSearchList()" [(ngModel)]="keywords" placeholder="输入供货商名"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let i of list" class="provider">
        <div class="provider-main" (tap)="toProviderFnc(i.offerId)">
            <div class="row">
                <span class="label">公司名</span>
                <span class="content">{{i.offerCompany || "无"}}</span>
            </div>
            <div class="row">
                <span class="label">地址</span>
                <span class="content">{{i.offerPhone || "无"}}</span>
            </div>
            <div class="row">
                <span class="label">联系电话</span>
                <span class="content">{{i.address || "无"}}</span>
            </div>
            <!-- <div class="time">{{i.categoryName || "无"}}</div> -->
        </div>
        <div class="approval">
            <button (tap)="alterProvider(i.offerCompany,i.offerPhone,i.address)" ion-button>更新</button>
            <button (tap)="removeProvider(i.offerId)" ion-button color="danger">删除</button>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>