<div #btn class="preview-btn" style="right:-2.25rem;top:11.7rem;"></div>
<div #preview class="preview" style="display:none;">
    <div class="pro">
        <div class="info">
            <span class="name">xxx国道</span>
            <span class="progress font-out">日期进度50%</span>
        </div>
        <div #total class="total">
            <div #current class="current"></div>
        </div>
    </div>
    <div class="pro">
        <div class="info">
            <span class="name">xxx国道</span>
            <span class="progress font-out">日期进度50%</span>
        </div>
        <div #total class="total">
            <div #current class="current"></div>
        </div>
    </div>
    <div class="pro">
        <div class="info">
            <span class="name">xxx国道</span>
            <span class="progress font-out">日期进度50%</span>
        </div>
        <div #total class="total">
            <div #current class="current"></div>
        </div>
    </div>
    <div class="pro">
        <div class="info">
            <span class="name">xxx国道</span>
            <span class="progress font-out">日期进度50%</span>
        </div>
        <div #total class="total">
            <div #current class="current"></div>
        </div>
    </div>
</div>