<ion-header>
    <ion-navbar>
        <ion-searchbar (ionInput)="getSearchList()" [(ngModel)]="keywords" placeholder="输入用户名"></ion-searchbar>
    </ion-navbar>
</ion-header>


<ion-content>

    <div class="list_content" *ngIf="list.length">
        <div class="tabel-header">
            <span>姓名</span>
            <span>手机号</span>
            <span>职位</span>
        </div>
        <ul class="psnl-record">
            <li *ngFor="let i of list" (tap)="toPsnlDet(i.userId)">
                <span>{{i.userName || "无"}}</span>
                <span>{{i.phone || "无"}}</span>
                <span>{{transformType(i.userType) || "无"}}</span>
            </li>
        </ul>

        <ion-infinite-scroll (ionInfinite)="doLoadMore($event)" *ngIf="hasMoreData">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>